body {
    background-color: black;
    display: ;
}

h1 {
    text-align: center;
}

#board {
    background-color: white;
    width: 560px;
    height: 460px;
    margin: 100px auto;
    
}

.game {
    margin: 0 auto;
}

/*all 9 cells*/
.row > div {
    float: left;
    height: 100px;
    width: 100px;

}

.row {
    clear: left;
    width: 302px;
    margin: auto;
}

/* borders */

.top {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.bottom {
    border-top: 1px solid black;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.left {
    border-right: 1px solid black;
}

.rigth {
    border-left: 1px solid black
}

.middle {
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}